<div class="online-users">
  <h6>Online Users</h6>
  <div id="online-users-area"></div> 
</div>

<script type="text/javascript">
  (function onlineUsersWorker() {
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/users",
      success: function(data) {
        $("#online-users-area").children().remove();

        for (let i = 0; i < data.length; i++) {
          let span = document.createElement("SPAN");
          span.classList.add("d-block");

          let a = document.createElement("A");
          a.setAttribute("href", "/users/" + data[i].id);

          if (document.getElementById("board")) {
            a.setAttribute("target", "_blank");
          }

          a.textContent = data[i].name;
          span.appendChild(a);

          $("#online-users-area").append(span);
        }
      },
      complete: function() {
        setTimeout(onlineUsersWorker, 240000);
      }
    })
  })();
</script>