<div id="online-users" class="dropdown">
  <button class="btn btn-secondary dropdown-toggle btn-sm mr-2 mb-1" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Online Users
  </button>

  <div id="online-users-area" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  </div>
</div>

<script type="text/javascript">
  (function onlineUsersWorker() {
    let menu = document.getElementById("dropdownMenuLink");

    if (!document.getElementById("online-users").classList.contains("show") || !menu.onclick) {

      $.ajax({
        type: "GET",
        dataType: "json",
        url: "/users",
        success: function(data) {
          $("#online-users-area").children().remove();

          for (let i = 0; i < data.length; i++) {

            let a = document.createElement("A");
            a.setAttribute("href", "/users/" + data[i].id);
            a.classList.add("dropdown-item");

            if (document.getElementById("board")) {
              a.setAttribute("target", "_blank");
            }

            a.textContent = data[i].name;

            $("#online-users-area").append(a);
          }
        },
        complete: function() {
          if (!menu.onclick) {
            menu.onclick = onlineUsersWorker;
          }
        }
      })
    }
  })();
</script>