<div id="words-made" class="dropdown">
  <button class="btn btn-secondary dropdown-toggle btn-sm mr-2 mb-1" role="button" id="dropdownMenuLinkWords" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Words
  </button>

  <div id="words-area" class="dropdown-menu" aria-labelledby="dropdownMenuLinkWords">
  </div>
</div>

<script type="text/javascript">
  function handleMouseEnter(event) {
    let def = document.getElementById(event.target.textContent);

    def.style.top = event.y + "px";
    def.style.left = event.x + "px";
  }

  function handleMouseLeave(event) {
    let def = document.getElementById(event.target.textContent);

    def.style.top = "-1000px";
    def.style.left = "-1000px";
  }
</script>