<h1>Welcome to Scrabble Site</h1>

<div class="center mt-5">
  <%= link_to "Create a Game", new_game_path, class: "btn btn-info" %>
  <%= link_to "Join a Game", games_path, class: "btn btn-info" %>
</div>