<h1>Join A Game</h1>
<div class="container">
  <% if @games.select {|game| game.available }.empty? %>
    <h3 class="center">NO GAMES CREATED YET</h3>
    <div class="center mt-2"><%= link_to "Create a Game", new_game_path, class: "btn btn-info" %></div>
  <% else %>
    <% @games.each do |game| %>
      <% if game.available && !game.invite %>
        <%= render "join_form", game: game %>
      <% elsif game.available && game.invite == current_user.id %>
        <hr>
        <h3 class="center mt-2">Invitations</h3>
        <%= render "join_form", game: game %>
      <% end %>
    <% end %>
  <% end %>
</div>
