<div class="wrapper">
  <div class="board-container">
    <h1>SCRABBLE</h1>
    <div id="board"></div>
    <div id="rack"></div>
    <div id="buttons"></div>
  </div>
  <div class="score-container">
    <div id="score"></div>
  </div>
  <div class="messages-container">
    <div id="messages" data-gameid="<%= @game.id %>"></div>
  </div>
</div>
