<div class="wrapper">
  <div id="board-container">
    <h1>SCRABBLE</h1>
    <div id="board"></div>
    <div id="rack"></div>
    <div id="buttons"></div>
  </div>
  <div id="score-container">
    <div id="clock"></div>
    <div id="score"></div>
  </div>
  <div id="messages-container">
    <div id="messages" data-gameid="<%= @game.id %>"></div>
    <%= link_to "Forfeit", "#", class: "btn btn-danger btn-sm mt-3" %>
  </div>
</div>

<script type="text/javascript">
  if (window.location.href.split("?")[1]) {
    window.location.href = window.location.href.split("?")[0]
  }
</script>
