@import "bootstrap";

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

h1, h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #ff3300;
  font-family: cursive;
}

form {
  width: 480px;
  margin: auto;
}

/* Game Board (games#show) */

sub {
  color: #64403d;
  font-size: 9px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, auto);
}

#board-container {
  min-width: 480px;
  grid-column: 4;
  grid-row: 1 / span 10;
}

#score-container {
  grid-column: 8 / span 3;
  grid-row: 3 / span 2;
}

#messages-container {
  grid-column: 8 / span 3;
  grid-row: 5 / span 2;
  text-align: center;
}

#board {
  margin: auto;
  width: 480px;
  font-size: 0;
}

#score {
  padding: 20px;
  font-weight: bold;
}

#clock {
  text-align: center;
  font-weight: bold;
  color: crimson;
}

#messages {
  text-align: center;
  margin-right: 10px;
  padding: 20px;
  border: 2px solid #3366ff;
  border-radius: 5px;
}

.tile, .rack-tile {
  font-weight: bold;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding-top: 1px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid white;
  cursor: pointer;
}

#rack {
  width: 224px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.game-button {
  display: inline-block;
  font-size: 15px;
  border: none;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 5px;
  background: #999;
}

.game-button:hover {
  cursor: pointer;
  background-color: #666699;
}

/* users#show */

.status {
  display: inline-block;
  margin: 0 15px;
}

.played-game {
  margin: 5px;
  display: inline-block;
}

/* Leader Board */

.online, .offline {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background: green;
}

.offline {
  background: red;
}

/* Online Users */

#online-users-area {
  overflow-y: auto;
  max-height: 200px;
}

/* Other */

.join-form {
  display: inline-block;
  width: 200px;
}

.small-text {
  font-size: 10px;
}

.b-inherit {
  background: inherit;
}

/* Word Animation */

.tLetter {
  background: #BE975B;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  transition-duration: .5s;
  transition-property: transform;
}

.tLetter > sub {
  font-size: 10px;
  font-weight: normal;
}

.tLetter0 {
  transform: rotate(8deg);
}

.tLetter1 {
  transform: rotate(-12deg);
}

.tLetter2 {
  transform: rotate(16deg);
}

.tLetter3 {
  transform: rotate(-22deg);
}

.tLetter4 {
  transform: rotate(26deg);
}

.tLetter5 {
  transform: rotate(-30deg);
}

.tLetter6 {
  transform: rotate(-34deg);
}

.tLetter7 {
  transform: rotate(38deg);
}

.tLetter8 {
  transform: rotate(-42deg);
}

.tLetter9 {
  transform: rotate(46deg);
}

.undo {
  transform: none;
  margin-right: 1px;
}

.undo-link {
  cursor: pointer;
}