@import "bootstrap";

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

h1, h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #ff3300;
  font-family: cursive;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, auto);
}

#board-container {
  min-width: 480px;
  grid-column: 4;
  grid-row: 1 / span 10;
}

#score-container {
  grid-column: 8 / span 3;
  grid-row: 3 / span 2;
}

#messages-container {
  grid-column: 8 / span 3;
  grid-row: 5 / span 2;
  text-align: center;
}

#board {
  margin: auto;
  width: 480px;
  font-size: 0;
}

#score {
  padding: 20px;
  font-weight: bold;
}

#clock {
  text-align: center;
  font-weight: bold;
  color: crimson;
}

#messages {
  text-align: center;
  margin-right: 10px;
  padding: 20px;
  border: 2px solid #3366ff;
  border-radius: 5px;
}

.tile, .rack-tile {
  font-weight: bold;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding-top: 1px;
  padding-left: 5px;
  font-size: 20px;
  text-align: center;
  vertical-align: bottom;
  border: 1px solid white;
  cursor: pointer;
}

#rack {
  width: 224px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

sub {
  color: #64403d;
  font-size: 9px;
}

#buttons {
  text-align: center;
}

form {
  width: 480px;
  margin: auto;
}

.join-form {
  display: inline-block;
  width: 200px;
}

.game-button {
  display: inline-block;
  font-size: 15px;
  border: none;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-right: 5px;
  border-radius: 5px;
  background: #999;
}

button:hover {
  cursor: pointer;
  background-color: #666699;
}

.center {
  text-align: center;
  margin: auto;
}

.small-text {
  font-size: 10px;
}

.played-game {
  margin: 5px;
  display: inline-block;
}

.hidden {
  display: none;
}

.visible {
  display: inline-block;
}

.status {
  display: inline-block;
  margin: 0 15px;
}