@import "bootstrap";
@import "font-awesome";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

h1, h2 {
  margin-top: 1.25rem; /* 20px */
  margin-bottom: 1.25rem; /* 20px */
  text-align: center;
  color: #ff3300;
  font-family: cursive;
}

form {
  width: 30rem; /* 480px */
  margin: auto;
}

nav {
  background: #f2f2f2;
}

#open-how {
  position: absolute;
  right: 5%;
  bottom: 12%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 8px;
  color: white;
  box-shadow: 0px 17px 12px -9px rgba(0,0,0,0.46);
}

#how-outer-div {
  position: absolute;
  top: 57px;
  bottom: 63px;
  left: 0;
  right: 0;
  background: transparent;
}

#how-inner-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: scroll;
  background: rgba(15,3,15,0.9);
  color: white;
  text-align: justify;
}

#how-inner-div p {
  text-indent: 2rem;
}

#how-inner-div h2 {
  color: white;
}

#how-buttons {
  min-height: 37px;
  display: flex;
  justify-content: space-around;
  height: auto;
}

.exp-fig {
  display: inline-block;
  text-align: center;
}

/* Game Board (games#show) */

#board {
  margin: auto;
  width: 30rem; /* 480px */
  font-size: 0;
}

.tile, .rack-tile, .exp-tile {
  font-weight: bold;
  display: inline-block;
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */
  padding-top: .0625rem; /* 1px */
  padding-left: .3125rem; /* 5px */
  font-size: 1.25rem; /* 20px */
  text-align: center;
  vertical-align: bottom;
  border: 1px solid white;
  cursor: pointer;
}

sub {
  color: #64403d;
  font-size: .5625rem; /* 9px */
}

#rack {
  width: 14rem; /* 224px */
  margin: auto;
  margin-top: 1.875rem; /* 30px */
  margin-bottom: 1.25rem; /* 20px */
}

.game-button {
  display: inline-block;
  font-size: .9375rem; /* 15px */
  border: none;
  width: 6.25rem; /* 100px */
  height: 1.875rem; /* 30px */
  margin-top: .625rem; /* 10px */
  margin-right: .3125rem; /* 5px */
  border-radius: .3125rem; /* 5px */
  background: #999;
}

.game-button:hover {
  cursor: pointer;
  background-color: #666699;
}

#side-container {
  margin-top: 3rem;
}

#messages-container {
  min-width: 30rem; /* 480px */
}

#messages-area {
  text-align: center;
  margin-right: .625rem; /* 10px */
  padding: 1.25rem; /* 20px */
  border-radius: .3125rem; /* 5px */
  background: #f2f2f2;
}

#clock {
  text-align: center;
  font-weight: bold;
  color: crimson;
}

.clear {
  clear: both;
}

textarea, textarea + input {
  border: 1px solid #b6b0b0;
  color: darkblue;
  border-left: none;
  border-right: none;
  padding: .3125rem; /* 5px */
}

textarea {
  resize: none;
  background: transparent;
  font-size: .875rem; /* 14px */
  border-bottom: none;
}

textarea + input {
  border-top: none;
}

#outer-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
}

#inner-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background: rgba(15,3,15,0.8);
  padding: 10px;
  border-radius: 5px;
  color: white;
}

/* users#show */

.status {
  display: inline-block;
  margin: 0 .9375rem; /* 15px */
}

.played-game {
  margin: .3125rem; /* 5px */
  display: inline-block;
}

/* Leader Board */

.online, .offline {
  display: inline-block;
  width: .625rem; /* 10px */
  height: .625rem; /* 10px */
  border-radius: 50%;
}

.online {
  background: green;
}

.offline {
  background: red;
}

/* Online Users */

#online-users-area {
  overflow-y: auto;
  max-height: 12.5rem; /* 200px */
}

/* Other */

.join-form {
  display: inline-block;
  width: 12.5rem; /* 200px */
}

.small-text {
  font-size: .625rem; /* 10px */
}

.b-inherit {
  background: inherit;
}

/* Footer */

.footer {
  text-align: center;
  min-width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: .9375rem 0 .3125rem; /* 15px 5px */
  background: #f2f2f2;
}

/* Word Animation */

.tLetter {
  background: #BE975B;
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 1.25rem; /* 20px */
  display: inline-block;
  width: 1.875rem; /* 30px */
  height: 1.875rem; /* 30px */
  border: 1px solid gray;
  transition-duration: .5s;
  transition-property: transform;
}

.tLetter > sub {
  font-size: .625rem; /* 10px */
  font-weight: normal;
}

.tLetter0 {
  transform: rotate(8deg);
}

.tLetter1 {
  transform: rotate(-12deg);
}

.tLetter2 {
  transform: rotate(16deg);
}

.tLetter3 {
  transform: rotate(-22deg);
}

.tLetter4 {
  transform: rotate(26deg);
}

.tLetter5 {
  transform: rotate(-30deg);
}

.tLetter6 {
  transform: rotate(-34deg);
}

.tLetter7 {
  transform: rotate(38deg);
}

.tLetter8 {
  transform: rotate(-42deg);
}

.tLetter9 {
  transform: rotate(46deg);
}

.undo {
  transform: none;
  margin-right: 1px;
}

.undo-link {
  cursor: pointer;
}

@media only screen and (max-width: 778px) {
  #side-container {
    margin-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  form {
    width: 100%;
    margin: auto;
  }

  .tLetter {
    font-size: 1rem;
    width: 1.7rem;
    height: 1.7rem;
  }

  .navbar {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .footer {
    font-size: 0.7rem;
  }

  #open-how {
    width: 30px;
    height: 30px;
    padding-top: 3px;
  }

  #open-how > i {
    font-size: 1.5em;
  }
}